*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto', sans-serif; */
    list-style: none;
    font-size: 16px;
    color: #FFFFFF;
}

html, body{
    height: 100%;
}

.form-main-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    grid-template-rows: 1fr min-content;
}

/* -------------------------------- LEFT ----------------------------------- */
.form-left{
    background-color: #FFFFFF;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.form-left img{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

/* -------------------------------- RIGHT ----------------------------------- */
.form-right{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    background-color: #FF4501;
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 2fr minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content) 1fr;
    row-gap: 1.5rem;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.form-content{
    grid-column: 2/-1;
    grid-row: 1/2;
    padding: 0.9rem 5rem;
}

.form-header{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-group{
    margin-bottom: 1rem;
}

form label{
    font-size: 1.5rem;
    font-weight: 200;
    margin-right: 1rem;
}

form input{
    width: 20rem;
    display: block;
    height: 2rem;
    border: .1rem solid #FFFFFF;
    border-radius: 0.5rem;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #000000;
    padding-left: 0.5rem;
}

.btn-wrapper{
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

input[type=submit]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 1rem 3rem; */
    height: 3rem;
    text-decoration: none;
    background-color: #000000;
    color: #FFFFFF;
    border: 0.1px solid #000000;
    border-radius: 1rem;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.form-footer{
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.form-footer a{
    text-decoration: none;
}

.form-footer a:hover{
    text-decoration: underline;
}